TRAINING_ENDPOINT=https://<tu-endpoint>.cognitiveservices.azure.com/
TRAINING_KEY=<tu-training-key>
PREDICTION_ENDPOINT=https://<tu-endpoint>.cognitiveservices.azure.com/
PREDICTION_KEY=<tu-prediction-key>
PREDICTION_RESOURCE_ID=/subscriptions/<id>/resourceGroups/<rg>/providers/Microsoft.CognitiveServices/accounts/<nombre>
